* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  min-height: 85px;
  padding: 15px 0 20px 0;
}
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__item {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.header_img {
  width: 28px;
  height: 21px;
}
.header__desc {
  color: #242424;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
}
.header__desc_name {
  font-weight: 700;
}
.header__desc_text {
  font-weight: 300;
}

.hero {
  min-height: 700px;
  padding: 40px 0 0 0;
  background: url("../../images/main_bg.jpg") center center/cover no-repeat;
}
.hero__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__nav_list {
  display: flex;
  justify-content: space-between;
  column-gap: 45px;
  align-items: center;
}
.hero__nav_item {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  text-transform: uppercase;
}
.hero__nav_item a {
  color: #FFF;
  text-decoration: none;
}
.hero__flex_container {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 0 0;
}
.hero__wrapper {
  padding-top: 100px;
}
.hero__header {
  color: #FFF;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}
.hero__text {
  margin: 20px 0 40px 0;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}
.hero__img {
  display: block;
}

button {
  width: 241px;
  height: 60px;
  flex-shrink: 0;
  background: #00C2F0;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.cards {
  padding: 80px 0;
  min-height: 900px;
}
.cards__wrapper {
  display: flex;
  justify-content: space-between;
}
.cards__img {
  display: block;
  margin: 50px auto;
}
.cards__item {
  width: 362px;
  height: 257px;
}
.cards__item_text {
  padding: 170px 0 40px 0;
  text-align: center;
  color: #393939;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}
.cards__item_text_result {
  font-weight: 700;
}
.cards__item_1 {
  background: url("../../icons/section/1.png") center center/cover no-repeat;
}
.cards__item_2 {
  background: url("../../icons/section/2.png") center center/cover no-repeat;
}
.cards__item_3 {
  background: url("../../icons/section/3.png") center center/cover no-repeat;
}
.cards__item_4 {
  background: url("../../icons/section/4.png") center center/cover no-repeat;
}
.cards__item_5 {
  background: url("../../icons/section/5.png") center center/cover no-repeat;
}
.cards__item_6 {
  background: url("../../icons/section/6.png") center center/cover no-repeat;
}

.experts {
  min-height: 890px;
  padding: 70px 0;
  background: url("../../images/experts_bg.jpg") center center/cover no-repeat;
}
.experts__menu {
  padding: 20px 30px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}
.experts__item {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.experts__img {
  display: block;
  margin: 0 auto;
}

.h2 {
  color: #393939;
  text-align: center;
  font-size: 30.012px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
}
.h2_experts {
  color: #FFFFFF;
}
.h2_benefits {
  margin-bottom: 45px;
}

.benefits {
  padding: 70px 0;
}
.benefits__row {
  margin: 0 auto;
  display: flex;
}
.benefits__item {
  width: 567px;
  height: 355px;
  padding-top: 140px;
  color: #FFF;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.benefits__item_1 {
  background: url("../../images/section_2/Opportunity.jpg") center center/cover no-repeat;
}
.benefits__item_2 {
  background: url("../../images/section_2/intellect.jpg") center center/cover no-repeat;
}
.benefits__item_3 {
  background: url("../../images/section_2/world.jpg") center center/cover no-repeat;
}
.benefits__item_4 {
  background: url("../../images/section_2/programming.jpg") center center/cover no-repeat;
}
.benefits__item_5 {
  background: url("../../images/section_2/Alive.jpg") center center/cover no-repeat;
}
.benefits__item_6 {
  background: url("../../images/section_2/payment.jpg") center center/cover no-repeat;
}

/*# sourceMappingURL=style.css.map */
